<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160592341115-dpj7rp8vm7th3ikv8s03og09o2etr596.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160592341115-dpj7rp8vm7th3ikv8s03og09o2etr596</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>160592341115-rs81rtqbruopni3mkp3m2rh37q5nbnvk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAWOypZiy8-wb24gXz8YALVK8EPFlUsQc</string>
	<key>GCM_SENDER_ID</key>
	<string>160592341115</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterStarterkitFirebase</string>
	<key>PROJECT_ID</key>
	<string>starterkit-789fc</string>
	<key>STORAGE_BUCKET</key>
	<string>starterkit-789fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160592341115:ios:d6a19c9578ac8277155ade</string>
	<key>DATABASE_URL</key>
	<string>https://starterkit-789fc.firebaseio.com</string>
</dict>
</plist>