name: Build, Test and Distribute Android

on:
  push:
    branches: [master, develop]

env:
  flutter_version: '1.20.3'
  java_version: '12.x'

jobs:
  distibute:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: Run Unit Tests,Build And Deploy APK With Fastlane
    runs-on: ubuntu-latest

    steps:
      - run: git config --global user.email "devops@reachzone.org"
      - run: git config --global user.name "Chijioke Ndubisi"
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '12.x'
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.6'

      - name: Cache Flutter dependencies
        uses: actions/cache@v1
        with:
          path: /opt/hostedtoolcache/flutter
          key: ${{ runner.OS }}-flutter-install-cache-${{ env.flutter_version }}
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: ${{ env.flutter_version }}

      - run: flutter pub get
      - run: flutter test

      - name: Cache bundle
        uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-

      - name: install bundler
        run: gem install bundler

      - name: Run bundle install to setup fastlane
        run: |
          bundle config path vendor/bundle
          bundle install

      - name: Run fastlane and deploy to firebase app distribution
        run: bundle exec fastlane android alpha
        env:
          FIREBASE_CLI_TOKEN: ${{ secrets.FIREBASE_CLI_TOKEN }}
          FIREBASE_ANDROID_APP_ID: ${{ secrets.FIREBASE_ANDROID_APP_ID }}
