name: Run Unit Test

on: pull_request

env:
  flutter_version: '1.22.3'
  java_version: '12.x'
  APP_BASE_URL: ${{ secrets.APP_BASE_URL }}

jobs:
  test:
    name: Run Unit Tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.6'

      - uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install dump-env
        run: pip install dump-env

      - name: Dump ENV
        run: dump-env > .env # This will dump all GITHUB_ENV into env

      - name: Cache Flutter dependencies
        uses: actions/cache@v1
        with:
          path: /opt/hostedtoolcache/flutter
          key: ${{ runner.OS }}-flutter-install-cache-${{ env.flutter_version }}
      - uses: subosito/flutter-action@v1
        with:
          flutter-version: ${{ env.flutter_version }}

      - run: flutter pub get
      - run: flutter test
